div {
  border: 1px solid white;
}

body {
margin-top: 0;
font-family: helvetica;
font-size: 22px;
color: seashell;
background-color: black;
}

/*  Header section */

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 10px;
}

.logo img {
  height: 50px;
  padding-left: 10px
}

header nav {
   padding-right: 10px;
 }

nav span {
  display: inline-block;
  padding: 20px 10px;
  text-decoration: underline;
}

a {
  color: seashell;
}


/* Main content */

.main {
  padding-top: 70px;
  opacity: 0.9;
  width: 1200px;
  margin: auto;
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Mission section */
.mission-container {
  width: 1200px;
  height: 700px;
  background-image: url(./resources/images/img-mission-background.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.mission-text {
  text-align: center;
  background-color: black;
  width: 1200px;
}


/* Tea of the month section */

.tea-container {
  width: 1200px;
  height: 700px;
  display: flex;
  flex-directio: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;

}

.tea-items {
  width: 320px;
  height: 265px;
}

.tea-items img {
  width: 300px;
  height: 200px;
  margin: 10px;
  display: block;
}

.tea-items span {
  display: block;
  padding: 5px;
  text-align: center;
  }

/* Location Section */

#locations {
  background-image: url(./resources/images/img-locations-background.jpg);
  height: 500px;
  padding-top: 70px;
}

.location-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.location {
  height: 300px;
  width: 300px;
  background-color: black;
  flex-basis: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* Footer */

.footer .info {
  width: 100%;
  height: 200px;
  margin: auto;
  text-align: center;
}

.copyright {
  text-align: left;
  padding-left: 20px;
}
